.cck_context {
	position: absolute;
	z-index: 100;
	border: 1px solid gray;
	display: none;
	background-color: white;
    padding: 0px;
    border-style: solid;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

.cck_context_option {
	background-color: transparent;
	width: inherit;
    padding:10px;
    font-family: sans-serif;
    font-size: 0.75em;
}
.cck_context_option:hover {
	background-color: black;
    color: white;
	cursor: pointer;
	cursor: hand;
}

.menu_head {
    font-family: "Courier New",serif;
    font-size: 1.2em;
    font-weight: bolder;
    padding:5px;
    background-color: #f60000;
    color: white;
    cursor: default;
    border: 1px;
    border-color: black;
}

/* Login functionality goes here; hidden for now */
#login {
    display: none;
}

/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.92); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

#textinput {
    font-size: 36px;
    font-family: sans-serif;
}

#overlay-instructions * {
    font-size: 0.7em;
    margin: auto;
    max-width: 500px;
}

.overlay p {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */    
}

#moreinfo {
    font-family: sans-serif;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

#thanksmessage {
    font-family: sans-serif;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    margin: auto;
    max-width: 500px;
}

.overlay-content button {
    border: 1px;
    border-color: #818181;
    border-radius: 10px;
    border-style: solid;
    background-color: transparent;
    color: #818181;
    font-size: 30px;
    padding: 2px 10px 2px 10px;
    cursor: pointer;
    cursor: hand;
    text-align: center;
}

.overlay-content button:hover {
    border-color: white;
    background-color: white;
    color: #818181;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  top: 2px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#sliderlabel {
    display: inline-block;
    position: relative;
    font-size: 0.7em;
    width: auto;
    clear: right;
    vertical-align: middle;
/*    margin-top: -5px;*/
}